DotNet/WCFDiffContract/WCFPrivateForm/Service References/WCFPrivateServiceRef/WCFGetMessageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFGetMessageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWCFGetTCPMessageService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFGetHTTPMessageService_getPublicMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:getPublicMessage" />
  </wsdl:message>
  <wsdl:message name="IWCFGetHTTPMessageService_getPublicMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPublicMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFGetTCPMessageService_getPrivateMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:getPrivateMessage" />
  </wsdl:message>
  <wsdl:message name="IWCFGetTCPMessageService_getPrivateMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPrivateMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFGetHTTPMessageService">
    <wsdl:operation name="getPublicMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFGetHTTPMessageService/getPublicMessage" message="tns:IWCFGetHTTPMessageService_getPublicMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFGetHTTPMessageService/getPublicMessageResponse" message="tns:IWCFGetHTTPMessageService_getPublicMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IWCFGetTCPMessageService">
    <wsdl:operation name="getPrivateMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFGetTCPMessageService/getPrivateMessage" message="tns:IWCFGetTCPMessageService_getPrivateMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFGetTCPMessageService/getPrivateMessageResponse" message="tns:IWCFGetTCPMessageService_getPrivateMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFGetHTTPMessageService" type="tns:IWCFGetHTTPMessageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPublicMessage">
      <soap:operation soapAction="http://tempuri.org/IWCFGetHTTPMessageService/getPublicMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IWCFGetTCPMessageService" type="tns:IWCFGetTCPMessageService">
    <wsp:PolicyReference URI="#NetTcpBinding_IWCFGetTCPMessageService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getPrivateMessage">
      <soap12:operation soapAction="http://tempuri.org/IWCFGetTCPMessageService/getPrivateMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFGetMessageService">
    <wsdl:port name="BasicHttpBinding_IWCFGetHTTPMessageService" binding="tns:BasicHttpBinding_IWCFGetHTTPMessageService">
      <soap:address location="http://localhost:8080/PublicAddress" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IWCFGetTCPMessageService" binding="tns:NetTcpBinding_IWCFGetTCPMessageService">
      <soap12:address location="net.tcp://localhost:8090/PrivateAddress" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/PrivateAddress</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>win7\win7pc</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>